# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
# dist (uncomment if you need to push built files to Git)
# dist


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
